
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<style>
    .bg-color {
        background-color:navy;
    }
</style>


<!-- ================ Start Registration Area ================= -->
<section class="registration-area bg-color">
    <div class="container">
        <div class="row align-items-end">
           
            <div class="offset-lg-3 col-lg-4 col-md-6">
                <div class="course-form-section">
                    <h3 class="text-white">Courses for Free</h3>
                    <p class="text-white">It is high time for learning</p>
                    <form class="course-form-area contact-page-form course-form text-right" id="myForm" action="mail.html" method="post">

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Name'">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" id="DOB" name="Date Of Birth" placeholder="Date Of Birth" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Date Of Birth'">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="Phone Number" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Phone Number'">
                        </div>

                        <div class="form-group col-md-12">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Email Address'">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Password'">
                        </div>

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" id="password" name="password" placeholder="Confirm Password" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'ConfirmPassword'">
                        </div>

                        <div class="col-lg-12 text-center">
                            <button class="btn text-uppercase">Submit</button>
                        </div>
                        <div>
                            <p>Already Have a Account!</p>
                            <h4>
                                @Html.ActionLink("Login!", "SignUp", "Login")
                            </h4>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

